<h1>Listing songs</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Duration</th>
    <th>List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.url %></td>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.duration %></td>
    <td><%= song.list_id %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
