<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @song.url %>
</p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Duration:</b>
  <%= @song.duration %>
</p>

<p>
  <b>List:</b>
  <%= @song.list_id %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
