<li class="list_item block js-list-item-{{id}}" data-id="{{id}}">
  <strong class="block">{{title}}</strong>
  <span class="units u3">
    <span class="js-position unit">{{position}}</span>
    <span class="js-duration unit align_right">{{duration}}</span>
    <a href="#" class="unit align_right js-play_item_button" data-id="{{id}}">▶</a>
  </span>
</li>
